<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Project Name</title>
    <link href="https://fonts.googleapis.com/css?family=Forum|Roboto:100,300,400,700" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
    
    <!-- <header class="header relative">
        <svg class="hero__logo absolute pointer svg" viewBox="0 0 144 144" id="logo-2">
            <use xlink:href="img/home/AforC-sm.svg#AforC-sm"></use>
        </svg>
        <svg class="hero__menu absolute pointer svg" viewBox="0 0 512 512" id="menu-2">
            <use xlink:href="img/home/menu.svg#menu"></use>
        </svg>
        <p>Hello from header</p>
    </header> -->
    <header class="header relative">
        <div class="header__item header__item--1 relative">
            <a href="/">
                <svg class="hero__logo pointer absolute svg--white" viewBox="0 0 144 144" id="logo-2">
                    <use xlink:href="img/home/AforC-sm.svg#AforC-sm"></use>
                </svg>
            </a>
        </div>
        <div class="header__item header__item--2 relative">
            <svg class="hero__menu absolute pointer svg--white" viewBox="0 0 512 512" id="menu-2">
                <use xlink:href="img/home/menu.svg#menu"></use>
            </svg>
        </div>
        <div class="header__item header__item--3">
            <a href="" class="header__link">Home</a>
            <a href="" class="header__link">About Us</a>
            <a href="" class="header__link">Services</a>
            <a href="" class="header__link">Portofolio</a>
            <a href="" class="header__link">Contact</a>
        </div>
    </header>
    
    
    <section class="hero relative">
        <div class="hero__item hero__item--0 relative">
            <p class="hero__text hero__text--1 absolute">
                HELLO
            </p>
            <p class="hero__text hero__text--2 absolute">
                STRANGER
            </p>
            <img src="img/home/hero-1.jpg" alt="" class="hero__background absolute">
        </div>

        <div class="hero__item hero__item--1 relative">
            <a href="/">
                <svg class="hero__logo pointer absolute" viewBox="0 0 144 144" id="logo">
                    <use xlink:href="img/home/AforC-sm.svg#AforC-sm"></use>
                </svg>
            </a>
        </div>
        <div class="hero__item hero__item--2 relative">
            <svg class="hero__menu absolute pointer" viewBox="0 0 512 512" id="menu">
                <use xlink:href="img/home/menu.svg#menu"></use>
            </svg>
        </div>
        <div class="hero__item hero__item--3">
            <div class="hero__item--3-box pointer" id="scroll">
                <p class="hero__paragraph">
                        Don't be afraid to scroll down
                    </p>
                <svg class="hero__scroll relative" viewBox="0 0 59.414 59.414">
                    <use xlink:href="img/home/down-arrow.svg#down-arrow"></use>
                </svg>
            </div>
            
        </div>
        <div class="hero__item hero__item--4"></div>
    </section>

    <section class="about relative">
        <div class="trigger trigger--upper absolute" id="aboutTrigger"></div>
        <div class="trigger trigger--lower absolute" id="aboutTriggerLower"></div>
        <div class="about__item about__item--1 relative">
            <svg class="about__bars" viewBox="0 0 140.5 88.2">
                <use xlink:href="img/home/AforC-Bars-black.svg#AforC-Bars-black"></use>
            </svg>
            <h1 class="about__title absolute"> 
                ABOUT
            </h1>
            <div class="about__item--1-box absolute" >
                <img src="img/home/about-us.png" alt="" class="about__paint relative" id="paint">
            </div>
        </div>
        <div class="about__item about__item--2 text--center">
            <p class="about__paragraph paragraph">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, quis!
            </p>
            <p class="about__paragraph paragraph">Ipsum, dolor sit amet consectetur adipisicing elit. Enim, ab velit.</p>
            <p class="about__paragraph paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio, qui?</p>
            <p class="about__paragraph paragraph">Lorem ipsum dolor sit amet.</p>
            <p class="about__paragraph paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam?</p>
            <p class="about__paragraph paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
            <p class="about__paragraph paragraph">Lorem, ipsum.</p>
        </div>
        <div class="about__item about__item--3 relative">
            <img src="img/home/paintdrop.png" alt="" class="about__paintdrop about__paintdrop--1 absolute" id="paintdrop">
            <img src="img/home/paintdrop-sm.png" alt="" class="about__paintdrop about__paintdrop--2 absolute" id="paintdrop">
            <a href="#" class="about__link more--link" id="paintdropStart">READ MORE...</a>
        </div>
    </section>

   
    <div class="services relative">
        <div class="trigger trigger--upper absolute" id="servicesTrigger"></div>
        <div class="services__item services__item--1">
            <div class="services__item services__item--1 relative">
                <svg class="services__bars" viewBox="0 0 140.5 88.2">
                    <use xlink:href="img/home/AforC-Bars-black.svg#AforC-Bars-black"></use>
                </svg>
                <h1 class="services__title absolute"> 
                    SERVICES
                </h1>
                <div class="services__item--1-box absolute" >
                    <img src="img/home/services.png" alt="" class="services__paint relative" id="paint-2">
                </div>
            </div>
        </div>
        <div class="services__item services__item--2 relative">
                <img src="img/home/waterdrop.png" alt="" class="services__waterdrop services__waterdrop--1 absolute">
                <img src="img/home/waterdrop-sm.png" alt="" class="services__waterdrop services__waterdrop--2 absolute">
                <img src="img/home/waterdrop-smst.png" alt="" class="services__waterdrop services__waterdrop--3 absolute">
                <h1 class="services__heading">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, odit facere,
                </h1>
                <h1 class="services__heading">
                        consectetur adipisicing elit. Ullam, odit facere,
                </h1>
        </div>
    </div>

    <section class="services-extra">
        <div class="services-extra__item services-extra__item--1" id="servicesActive">
            <div class="services-extra__item--1-box relative" >
                <svg id="designIcon" class="services-extra__animation absolute over" viewBox="0 0 82.7 112.5">
                    <use xlink:href="img/home/design.svg#design"></use>
                </svg>
                <h3 class="services-extra__title absolute under" id="design">
                    DESIGN
                </h3>
            </div> 
            <div class="services-extra__text text--center">
                <p class="services-extra__paragraph">
                    Lorem dolor ad blanditiis iure, vitae consectetur itaque debitis maiores exercitationem similique quaerat commodi rerum similique quaerat commodi rerum similique quaerat commodi similique quaerat commodi rerum similique quaerat commodi rerum.
                </p>
            </div>
        </div>
        <div class="services-extra__item services-extra__item--2" id="servicesActive2">
            <div class="services-extra__item--1-box relative" id="servicesActive">
                <svg id="programmingIcon" class="services-extra__animation absolute over" viewBox="0 0 114.8 85.3">
                    <use xlink:href="img/home/programming.svg#programming"></use>
                </svg>
                <h3 class="services-extra__title absolute under" id="programming">
                    PROGRAMMING
                </h3>
            </div> 
            <div class="services-extra__text text--center">
                <p class="services-extra__paragraph">
                    Lorem dolor ad blanditiis iure, vitae consectetur itaque debitis maiores exercitationem similique quaerat commodi rerum similique quaerat commodi rerum similique quaerat commodi similique quaerat commodi rerum similique quaerat commodi rerum.
                </p>
            </div>
        </div>
        <div class="services-extra__item services-extra__item--3" id="servicesActive3">
            <div class="services-extra__item--1-box relative" id="servicesActive">
                <svg id="marketingIcon" class="services-extra__animation absolute over" viewBox="0 0 114.8 85.3">
                    <use xlink:href="img/home/marketing.svg#marketing"></use>
                </svg>
                <h3 class="services-extra__title absolute under" id="marketing">
                    MARKETING
                </h3>
            </div> 
            <div class="services-extra__text text--center">
                <p class="services-extra__paragraph">
                    Lorem dolor ad blanditiis iure, vitae consectetur itaque debitis maiores exercitationem similique quaerat commodi rerum similique quaerat commodi rerum similique quaerat commodi similique quaerat commodi rerum similique quaerat commodi rerum.
                </p>
            </div>
        </div>
        <div class="services-extra__item services-extra__item--4 relative">
            <a href="#" class="services-extra__link more--link" id="paintdropStart">
                FIND OUT MORE ABOUT WHAT WE CAN HELP YOU WITH...
            </a>
        </div>
    </section>

    <section class="category relative">
        <div class="trigger trigger--upper absolute" id="categoryTrigger"></div>
        <div class="category__item category__item--1 relative">
            <svg class="category__bars" viewBox="0 0 140.5 88.2">
                <use xlink:href="img/home/AforC-Bars-black.svg#AforC-Bars-black"></use>
            </svg>
            <h1 class="category__title absolute"> 
                PORTOFOLIO
            </h1>
            <div class="category__item--1-box absolute" >
                <img src="img/home/portofolio.png" alt="" class="category__paint relative" id="paint-3">
            </div>
        </div>
    </section>

    <section class="portofolio-grid">
        <!-- LAPTOPS ARE AT 5250 / TABLETS ARE AT 4250 -->
        <figure class="portofolio-grid__item portofolio-grid__item--1 ">
            <img src="img/home/laptop-1.png" alt="" class="portofolio-grid__img">
        </figure>
        <figure class="portofolio-grid__item portofolio-grid__item--2 ">
            <img src="img/home/tableta-1.png" alt="" class="portofolio-grid__img">
        </figure>
        <figure class="portofolio-grid__item portofolio-grid__item--3 ">
            <img src="img/home/tableta-2.png" alt="" class="portofolio-grid__img">
        </figure>
        <figure class="portofolio-grid__item portofolio-grid__item--4 ">
            <img src="img/home/laptop-3.png" alt="" class="portofolio-grid__img">
        </figure>
        <figure class="portofolio-grid__item portofolio-grid__item--5 ">
            <img src="img/home/laptop-2.png" alt="" class="portofolio-grid__img">
        </figure>
        <figure class="portofolio-grid__item portofolio-grid__item--6 ">
            <img src="img/home/tableta-3.png" alt="" class="portofolio-grid__img">
        </figure>
    </section>

    <section class="chat relative">
        <div class="trigger trigger--upper absolute" id="paintBrushTrigger"></div>
        <div class="chat__item chat__item--1 relative">
                <img src="img/home/animation.gif" alt="" class="chat__gif chat__animation--gif relative">
                <img src="img/home/animation.png" alt="" class="chat__img chat__animation--paint absolute">
        </div>
        <div class="chat__item chat__item--2">
            <div class="chat__content text--center">
                <h1 class="chat__title">
                    NOTE FOR YOU
                </h1>
                <p class="chat__paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam!
                </p>
                <p class="chat__paragraph">
                    dolor sit amet, consectetur adipisicing elit. Quisquam!
                </p>
                <p class="chat__paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam!
                </p>
                <p class="chat__paragraph">
                    dolor sit amet, consectetur adipisicing elit. Quisquam!
                </p>
            </div>

            <a href="#" class="chat__paint-box relative"> 
                <div class="paintbrush--box absolute" id="paintBrush">
                    <svg id="paintBrush" class="paintbrush" viewBox="0 0 111 54.4">
                        <use  xlink:href="img/home/paintbrush.svg#paintbrush"></use>
                    </svg> 
                </div>
                <div class="chat__paint-box--paint text--center">
                    <h3 class="chat__title-secondary">
                        LET'S MEET UP FOR A COFFEE OR CHAT WITH US ON EMAIL
                    </h3>
                </div>
                <div class="chat__paint-box--paint text--center">
                    <h3 class="chat__title-secondary">
                        WE CAN NOT WAIT TO HEAR YOUR IDEAS
                    </h3>
                </div> 
            </a>
        </div>
        

    </section>

    <section class="brand relative" id="brand">
        <div class="trigger trigger--upper absolute" id="brandStart"></div>
        <div class="brand__item brand__item--1 relative">
            <div class="brand__text absolute" id="text"></div> 
            <svg class="brand__bars absolute" viewBox="0 0 138.2 63">
                <use xlink:href="img/home/AforCBRAND.svg#AforCBRAND"></use>
            </svg>
        </div>
        <div class="brand__item brand__item--2 relative">
            <img src="img/home/hero-2.jpg" alt="" class="brand__background absolute">
        </div>
    </section>



    <script src="js/app.js"></script>
    <script src="js/af/text/data.json"></script>
    <script src="js/af/text/lottie.js"></script>
    <script src="js/af/text/app.js"></script>
</body>
</html>